<div id="primary">
  <div id="add_task"> </div>
  <div id='main'>
    <h1>Today's Tasks</h1>
    <ul id="todo-list">
      <li>test</li>
      <li>test2</li>
    </ul>
  </div>
</div>
<div id='sidebar'>
  <div class="sidebar-tasks">
    <h1>Overdue Tasks</h1>
  </div>
  <div class="sidebar-tasks">
    <h1>Due Today </h1>
  </div>
  <div class="sidebar-tasks">
    <h1>Upcoming Tasks</h1>
  </div>
</div>